<div id="wrapper">
  <header>
    <h1>Exported Items</h1>
    <style>
    Body {text-align:center}
    </style>
    </header>
  </div>


<%= @puramses.inspect %>

</br>
</br>

<%= @csv.inspect %>


</br>
<%= submit_tag 'Export File' %>