<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="application.css">
</head>
<body>
<div id="wrapper">
  <header>
    <h1>Translate your CSV File Here </h1>
    <style>
    Body {text-align:center}
    </style>
    </header>
  </div>
</body>
</br>
</br>
</br>
<%= form_tag vaultify_export_path, method: 'post', multipart: true do %> 
<%= submit_tag 'To Exports' %>
<% end %>
</html>


