<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="application.css">
</head>
<body>
<div id="wrapper">
  <header>
    <h1>Translating...</h1>
    <style>
    Body {text-align:center}
    </style>
    </header>
  </div>
</body>
</br>
</br>
</br>
