<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="application.css">
</head>
<body>
<div id="wrapper">
  <header>
    <h1>Translate your CSV File Here </h1>
    <style>
    Body {text-align:center}
    </style>
    </header>
  </div>
</body>
</br>


<div id="next_button">
<%= form_tag vaultify_export_path, method: 'post', multipart: true do %> 
<%= submit_tag 'Next Process' %>
</div>
<% end %>
</html>


<head> 
<title> Edit your Metadata Fields </title>
<link rel="stylesheet" href="application.css">
function displayHTMLTable(results)
{
	var table = "<table class='table'>";
	var data = results.data;
    for(i=0;i<data.length;i++)
    {
		table+= "<tr>";
		var row = data[i];
		var cells = row.join(",").split(",");
        for(j=0;j<cells.length;j++)
        {
			table+= "<td>";
			table+= cells[j];
            table+= "</th>";
        }
        table+= "</tr>";
    }
	table+= "</table>";
    $("#parsed_csv_list").html(table);
}
</head>
<body>
<div id= "CSV_Editor">
<header>
<h2>JS CSV Editor Here...</h2>
<style>
</style>
</header>
</div>
</body>
</html>





