<!DOCTYPE html>
<html>
<head>
  <title>Vaultify</title>
  <%= stylesheet_link_tag    "vaultify/application", media: "all" %>
  <%= javascript_include_tag "vaultify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
